@page
@using System.Globalization;
@model WebShop.Pages.Shared.AsucheModel
@if(Model.korrecktur != "")
{
    <div class="header">
        <span><form method="post" asp-page="asuche" asp-page-handler="Suchen"><input asp-route-suchb class="form-control" placeholder="Suche" name="suchb" type="hidden" value="@Model.korrecktur"><button class="btn" type="submit">Meinten sie @Model.korrecktur?</button></form></span>
    </div>
}
<div class="grid gap-3">
    <div class="col">
    @foreach (Artikel a in Model.artikels)
    {
        <div class="p-2 g-col-6 margin-1">
            <form class="row- border border-primary-subtle rounded-2 bg-light" asp-page-handler="AddArtikel" method="post">
                <div class="row p-2">
                    <div class="col-2 p-2">
                        <div class="row fw-bold">
                            <span>@a.Bezeichnung</span>
                        </div>
                        <div class="row">
                            <span>@a.Preis.ToString("C2", CultureInfo.GetCultureInfoByIetfLanguageTag("de-DE"))</span>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div class="col">
                            <p>@a.Beschreibung</p>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("lhash")))
                {
                <input type="hidden" name="artnr" value="@a.Id" />
                <div class="row flex-nowrap p-2">
                    <div class="col">
                        <div class="input-group">
                            <label class="input-group-text" for="menge">Anzahl</label>
                            <input class="form-control" type="number" id="menge" name="menge" value="0" min="1" required />
                            <button class="btn btn-primary" type="submit">In den Warenkorb</button>
                        </div>
                    </div>
                </div>
                }
            </form>
        </div>
    }
    </div>
</div>
