@page
@using System.Globalization;
@model IndexModel
@{
    ViewData["Title"] = "FWI2 WebShop";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Willkommen im FWI2 Webshop</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="row">Zuletzt hinzugefüge Artikel</h4>
            @{
                string height = "160px";
                @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("lhash")))
                {
                    height = "240px";
                }
            }
            <div class="d-flex row-cols-1 overflow-scroll" style="min-height:@height; max-height:@height; overflow-y: hidden !important;">
                @foreach(Artikel artikel in Model.LstArtikel)
                {
                    <form class="col mx-auto p-2 flex-column h-100" method="post" style="min-width:190px; max-width:190px; height:@height" asp-page="/asuche" asp-page-handler="AddArtikel">
                    <div class="row" style="height:20px">
                        <h6 class="col">@artikel.Bezeichnung</h6>
                    </div>
                        <div class="row position-relative" style="height:90px">
                            @if (artikel.ShopImage != null)
                            {
                                string imgdata = $"data:image/jpg;base64,{Convert.ToBase64String(artikel.ShopImage.ImageData)}";
                                <img src="@imgdata" style="width:auto;height:90px;" class="position-absolute top-50 start-50 translate-middle" />
                            }
                            else
                            {
                                <p>@artikel.Beschreibung</p>
                            }
                    </div>
                    <div class="row" style="height:20px">
                        <div class="col">
                                <p class="text-left">@artikel.Preis.ToString("C2", CultureInfo.GetCultureInfoByIetfLanguageTag("de-DE"))</p>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("lhash")))
                    {
                        <div class="row" style="height:40px">
                        <input type="hidden" name="artnr" value="@artikel.Id" />
                        <div class="col">
                            <div class="vstack gap-1">
                                <div class="input-group">
                                    <label class="input-group-text" for="menge">Anzahl</label>
                                    <input class="form-control" type="number" id="menge" name="menge" value="0" min="1" max="9999" step="1" required />
                                </div>
                                    <div class="input-group">
                                    <button class="btn btn-primary" type="submit" style="width:100%">In den Warenkorb</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </form>
                }
            </div>
        </div>
    </div>
</div>