@page
@model WebShop.Pages.WarenkorbModel
<form method="post" asp-page-handler="Aktuallesieren">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Anzahl</th>
                <th scope="col">Artikel</th>
                <th scope="col" class="text-end">Einzelpreis</th>
                <th scope="col" class="text-end">Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (BestellPos pos in Model._bestellung.LstBestPoss)
            {
                Artikel a = Model.artikels[i];
                string handler = $"menge,{pos.Id}";
                <tr>
                    <td><input type="number" name="@handler" id="@handler" value="@pos.Menge"></td>
                    <td>@a.Bezeichnung</td>
                    <td class="text-end">@pos.Preis.ToString("C2")</td>
                    <td class="text-end">@pos.PosPreis.ToString("C2")</td>
                </tr>
                i++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><button class="btn btn-primary" type="submit">Menge Ändern</button></td>
                <td class="text-end">Gesamt</td>
                <td class="text-end">@Model._bestellung.GesPreis.ToString("C2")</td>
            </tr>
        </tfoot>
    </table>
</form>