@page
@model WebShop.Pages.warenkorbModel
<form method="post" asp-page-handler="Aktuallesieren">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Anzahl</th>
                <th scope="col">Artikel</th>
                <th scope="col">Einzelpreis</th>
                <th scope="col">Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                decimal gespreis = 0;
                decimal gespreispos = 0;
            }
            @foreach (BestellPos pos in Model._bestellung.LstBestPoss)
            {
                Artikel a = Model.artikels[i];
                gespreispos = pos.Preis * pos.Anzahl;
                gespreis += gespreispos;
                string handler = $"menge,{pos.Id}";
                <tr>
                    <td><input type="number" name="@handler" id="@handler" value="@pos.Anzahl"></td>
                    <td>@a.Bezeichnung</td>
                    <td>@pos.Preis.ToString("C2")</td>
                    <td>@gespreispos.ToString("C2")</td>
                </tr>
                i++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td><button class="btn btn-primary" type="submit">Menge Ändern</button></td>
                <td></td>
                <td>Gesamt</td>
                <td>@gespreis.ToString("C2")</td>
            </tr>
        </tfoot>
    </table>
</form>