@page
@using System.Globalization;
@model WebShop.Pages.WarenkorbModel
<form method="post" asp-page-handler="Aktuallesieren">
    <div class="justify-content-center">
        @if (Model.Bestellung != null)
        {
            if (Model.Bestellung.LstBestPoss.Count == 0)
            {
                <h1>Keine Artikel im Warenkorb</h1>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Anzahl</th>
                            <th scope="col">Artikel</th>
                            <th scope="col" class="text-end">Einzelpreis</th>
                            <th scope="col" class="text-end">Gesamtpreis</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BestellPos pos in Model.Bestellung.LstBestPoss)
                        {
                            string handler = $"menge,{pos.Id}";
                            <tr>
                                <td><input type="number" name="@handler" id="@handler" value="@pos.Menge"></td>
                                <td>@pos.Artikel.Bezeichnung</td>
                                <td class="text-end">@pos.Preis.ToString("C2", CultureInfo.GetCultureInfoByIetfLanguageTag("de-DE"))</td>
                                <td class="text-end">@pos.PosPreis.ToString("C2", CultureInfo.GetCultureInfoByIetfLanguageTag("de-DE"))</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="gx-5">
                                <div class="input-group">
                                    <button class="btn btn-secondary" type="submit">Menge Ändern</button>
                                    <button asp-page-handler="Bestellen" class="btn btn-primary" type="submit">Bestellen</button>
                                </div>
                            </td>
                            <td class="text-end">Gesamt</td>
                            <td class="text-end">@Model.Bestellung.GesPreis.ToString("C2", CultureInfo.GetCultureInfoByIetfLanguageTag("de-DE"))</td>
                        </tr>
                    </tfoot>
                </table>
            }
        
        }
        else
        {
            <h1>Keine Artikel im Warenkorb</h1>
        }
    </div>
</form>